$L: 1200px
$M: 970px
$S: 992px
$XS: 768px

$br: 4px
$bw: 2px

//Цвета
$color1: #71ca0a
$color2: #c96935
$color3: #ffc616
$color4: #eddba9
$black1: #262b2c
$black2: #43494a
$black3: #757e7f
$black4: #b4bfc0
//шрифты

$menu-bottom-fz: .8rem