// Fonts
@import url(https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:400,700|Open+Sans:400,700&amp;subset=cyrillic)
@import url(https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:400,700|Open+Sans:400,700&amp;subset=cyrillic)

//@import "layouts"
@import "vendors/grid"

*
  margin: 0
  padding: 0
  box-sizing: border-box

body,html
  font-size: 16px
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  background-color: #3f3f3f
  background-image: url(../images/body_bg.png)
  font-family: 'Open Sans', sans-serif
ul
  list-style: none
  margin: 0
  padding: 0
p
  margin: 0
  padding: 0

a
  color: #55a4e7
  text-decoration: underline
  &:hover
    text-decoration: none
  
h1
  color: #363636
  font-family: 'Open Sans Condensed', sans-serif
  text-align: center
  margin-bottom: 20px
  text-transform: uppercase

.main
  min-height: 100%
  min-width: 1024px
  max-width: 1366px
  margin: 0 auto
  box-shadow: 0 0 25px rgba(#000, 0.5)
  display: flex
  flex-direction: column
.main-content
  padding: 20px
  flex-grow: 1
  display: flex
  background-color: #fff
  background-image: url(../images/content_bg.png)

.content-wrap
  flex-grow: 1
  padding-left: 20px






.aside-menu
  border-radius: 15px
  padding: 15px
  box-shadow: 5px 5px rgba(#000, 0.15)
  &:not(:last-child)
    margin-bottom: 20px

  &[data-color="default"]
    background: #ffd57d
  &[data-color="red"]
    background: #ae0a09
.aside-menu__item
  &:not(:last-of-type)
    margin-bottom: 5px
  a
    font-family: 'Open Sans Condensed', sans-serif
    font-size: 1rem
    font-weight: bold
    text-decoration: none
    color: rgba(#000, 0.6)
    &:hover
      color: rgba(#000, 0.75)
footer
  background: #5c5c5c
  height: 100px
.top
  background-image: url("../images/top.jpg")
  height: 329px
  background-position: center center

.menu
  display: flex
  justify-content: space-between
  align-items: center
  background: linear-gradient(to bottom, #98e20a 0%, #82c307 100%)
  padding: 10px 20px
  font-family: 'Open Sans Condensed', sans-serif

.menu-list
  list-style: none
  margin: 0
  padding: 0
  color: #fff
  font-weight: bold
  font-size: 1.1rem
.menu-list__item
  display: inline-block
  &:not(:last-of-type)
    margin-right: 15px

  a
    color: #fff
    text-decoration: none
    text-shadow: 2px 2px rgba(#000, .1)
    i
      color: rgba(#fff, .8)



.text-color-black
  color: #363636
.text-color-gray
  color: #565656
.text-color-green
  color: #92db07
.text-color-red
  color: #f1132d

.text-center
  text-align: center

.text-size-3
  font-size: 1.4rem
.text-size-1
  font-size: 2.3rem

.condensed
  font-family: 'Open Sans Condensed', sans-serif

.margin-bottom
  margin-bottom: 40px


.text-right
  text-align: right











.main-block
  //background: rgba(#000, .05)
  border-radius: 15px
  padding: 20px

  &:not(:last-of-type)
    margin-bottom: 30px

.circles
  padding-top: 15px
  margin-bottom: 20px
  display: flex
  align-items: center
  justify-content: center
.cricle
  a
    text-decoration: none
  display: inline-block
  width:  170px
  height: 170px
  background: #fff
  padding: 20px
  border-radius: 50%
  box-shadow: 5px 5px rgba(#000, 0.2)
  transition: all 0.1s linear

  &:not([data-coor="gray"]):hover
    box-shadow: 5px 5px rgba(#000, 0.3)
  &:not(:last-of-type)
    margin-right: 15px
  &[data-coor="red"]
    background: #f1132d
  &[data-coor="green"]
    background: #8cd108
  &[data-coor="blue"]
    background: #5db4fd
  &[data-coor="magenta"]
    background: #e63ed8
  &[data-coor="orange"]
    background: #ee7720
  &[data-coor="gray"]
    background: #ababab

.cricle-text
  height: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.cricle-text__title
  font-weight: bold
  font-size: 1.1rem
  text-shadow: 2px 2px rgba(#000, .1) 
  color: rgba(#fff, 1)
.cricle-text__desc
  font-size: 0.8rem
  font-style: italic

.main-time-block
  margin-top: 15px
  list-style-position: inside
  text-align: center
  li
    margin-left: 0
    padding-left: 0
    margin-top: 7px

.main-rules-block
  margin-top: 15px
  p:not(:last-of-type)
    margin-bottom: 10px

.main-price-block
  width: 70%
  margin: 0 auto
  margin-top: 20px
.main-reward-block
  width: 90%
  margin: 0 auto
  margin-top: 20px

.main-price-block__title
  padding-bottom: 10px


.main-block__title
  display: flex
  align-items: center
  justify-content: center
  font-size: 1.4rem
  color: #363636
  font-family: 'Open Sans Condensed', sans-serif
  font-weight: bold
  text-decoration: underline
  img
    width: 90px
    height: auto
    margin-right: 10px




.form_login
  input[type="submit"]
    cursor: pointer
    border: none
    background: #8cd108
    color: #fff
    font-weight: bold
    padding: 10px
    text-transform: uppercase
    border-radius: 10px
    font-family: 'Open Sans', sans-serif
    margin-top: 10px
  input:not([type="submit"])
    display: block
    width: 100%
    border: none
    background: #fff
    padding: 8px
    border-radius: 5px
    height: 100%
    font-family: 'Open Sans', sans-serif
    color: #404040
  label
    display: block
    font-weight: bold
    font-size: .9rem
    color: #363636
    line-height: 35px
    text-align: right
  width: 500px
  margin: 0 auto
  padding: 20px
  border-radius: 15px
  background: #f4f4f4
  .row
    height: 35px
    margin-bottom: 10px
    > div
      height: 100%
  small.errors
    text-align: center
    display: block
    color: #f1132d
    margin-bottom: 20px

.form_login_reg
  width: 700px