@import "variables"
@import "mixins"
@import "vendors/grid"
@import "vendors/dialog"
@import "vendors/loaders"
@import "vendors/font-awesome/font-awesome"

.flex-lr
  display: flex
  justify-content: space-between
  align-items: center
  &.flex-lr_stretch
    align-items: stretch
  >*:not(:last-child)
    margin-right: 10px

*
  margin: 0
  padding: 0
  box-sizing: border-box
  outline: none
  //font-family: "Century Gothic", sans-serif
  font-family: 'Comfortaa', cursive
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
html, body
  width: 100%
  height: 100%
  font-size: 16px



.main
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  main
    flex-grow: 1




.h1
  font-family: 'Comfortaa', cursive
  font-size: 2rem
  color: $black1
  font-weight: lighter
  margin-bottom: 20px
  margin-top:   20px
  text-align: center
  text-transform: uppercase
  line-height: 1.5
  > *
    font-family: 'Comfortaa', cursive
.h2
  font-family: 'Comfortaa', cursive
  font-size: 1.8rem
  color: $black1
  font-weight: lighter
  margin-bottom: 45px
  margin-top: 45px
  text-align: center
  text-transform: uppercase
  line-height: 1.5

img.r
  max-width: 100%
  height: auto

.r
  text-align: right

p
  font-family: "Verdana", sans-serif
  line-height: 1.38
  color: $black1
  &:last-child
    margin-bottom: 0
  &:first-child
    margin-top: 0

small
  line-height: 1
span, b, u, i
  font-family: "Verdana", sans-serif

.b
  font-weight: bold

.pl
  padding-left: 15px

.label
  padding: 5px 10px
  border-radius: 3px
  font-size: 0.90rem
  font-weight: bold
  font-family: "Century Gothic", sans-serif
  text-transform: uppercase

.label-color1
  background: #e80257
  color: #fff




ol, ul
  list-style-position: inside
  li
    font-family: "Verdana", sans-serif
    &:not(:last-child)
      margin-bottom: 0.3rem

p
  margin-bottom: 10px
  margin-top:    10px

.cursor
  cursor: pointer

.warning
  padding: 20px
  border-radius: 5px
  background: #f5f5f5
  color: $black1
  margin: 20px 0
.warning__title
  text-align: center
  color: $color1
  font-size: 1.2rem
  font-weight: bold
  text-transform: uppercase
  padding: 10px
  border-radius: 5px

.block
  margin-bottom: 40px
  display: block

.pay-h2
  color: $black2
  font-size: 1.5rem
  text-align: center
  line-height: 1
  margin-bottom: 40px
  > *
    font-family: 'Comfortaa', cursive
  small
    font-size: 1rem
    color: $color1
    margin-top: -5px
    > *
      font-family: 'Comfortaa', cursive

a
  color: #00aab9
  font-family: "Verdana", sans-serif
  &:hover
    text-decoration: none
.tac
  text-align: center
.ul-clear
  list-style: none

ul.leftp
  margin-top: 5px
  list-style: none
  padding-left: 20px
  list-style-position: inside

.block
  display: block
  width: 100%
.color1
  color: $color1
.color2
  color: $color2

.d
  +d()
  
  
  
  
  
  
.contacts-menu__wrapper
  padding: 10px
  background: rgba(#000, 0.035)

.contacts-menu
  display: flex
  justify-content: flex-end
  align-items: center
  
a.contacts-menu__item:hover
  color: $color1
  .fa
    color: $color1
.contacts-menu__item
  transition: all 0.1s linear
  font-family: 'Comfortaa', cursive
  font-size: 1.05rem
  font-weight: bold
  text-decoration: none
  color: $color1
  display: flex
  align-items: center
  &:not(:last-child)
    margin-right: 40px
  .fa
    margin-right: 8px
    font-size: 1rem
    color: $color1

//Главное меню
.menu-top__wrapper
  background: #fff
  max-width: 1170px
  margin-left: auto
  margin-right: auto
  +responsive($L)
    width: 100%
    padding-left: 20px
    padding-right: 20px
.menu-top__logo > img
  max-width: 100%
  height: auto
  +responsive($L)
    max-width: 70px
  +responsive($S)
    max-width: 100%
    margin-bottom: 20px

.menu-top
  display: flex
  justify-content: space-between
  align-items: center
  padding: 15px 0 15px 0
  flex-direction: row
  font-size: 1rem

  +responsive($S)
    flex-direction: column
    font-size: 1rem
    &.menu-top_mobile-active .menu-top__list
      display: block
    &:not(.menu-top_mobile-active) .menu-top__list
      display: none



.menu-top__list a
  font-weight: bold
  text-decoration: none
  font-family: 'Comfortaa', cursive

.menu-top__list li
  display: inline-block
  &:not(:last-of-type)
    margin-right: 10px
  +responsive($S)
    &:not(:last-of-type)
     margin-right: 0
     margin-bottom: 5px
    display: block
    text-align: center
.menu-top__list_main
  +responsive($S)
    margin-bottom: 25px
.menu-top__list_main a
  color: $black2
  &:hover
    color: $black1





//Главное меню нижнее
.menu-bottom__wrapper
  background: $color1

.menu-bottom
  list-style: none
  text-align: center
  padding: 10px 20px
  overflow-x: auto
  white-space: nowrap
  & li
    font-family: 'Comfortaa', cursive
    display: inline-block
    color: rgba(#fff, .4)
    &:not(:last-of-type)
      margin-right: 10px
    a
      white-space: pre
      color: #fff
      font-size: .88rem
      text-decoration: none
      font-family: 'Comfortaa', cursive
      &:hover
        color: rgba(#fff, .8)

//Главное изображение с текстом
.slider
  &:after
    content: ''
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    background: rgba(#000, .1)
  height: 666px
  width: 100%
  background-image: url(../images/slider-2.jpg)
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  position: relative
  overflow: hidden
.slider-texts__effect
  background: linear-gradient(-90deg, rgba(#000,1) 0%, rgba(255,255,255,0) 100%)
  width: 100%
  position: absolute
  right: -33%
  height: 100%
  transform: skewX(-20deg)
  z-index: 1

.slider-texts
  position: relative
  z-index: 2
  text-align: right
  display: flex
  flex-direction: column
  justify-content: center
  height: 100%
  max-width: 1170px
  margin: 0 auto


.slider-texts__banners
  position: absolute
  bottom: 10px
  left: 10px
  z-index: 5

.slider-texts__big-text
  font-size: 3.8rem
  font-weight: bold
  text-transform: uppercase
  color: #fff

  text-shadow: 0 0 20px rgba($black1, .5)
  //text-shadow: 0 0 20px #000
  font-family: 'Comfortaa', cursive
  span
    font-family: 'Comfortaa', cursive
  .color1
    color: lighten($color1, 8%)
  .color2
    color: lighten($color2, 15%)
.slider-texts__under_big-text
  font-size: 1.3rem
  color: #fff

//text-shadow: 0 0 10px rgba($black1, .4)
.slider-texts__desc
  //font-style: italic
  margin-top: 40px
  color: #fff
  line-height: 1.5
  font-size: 1.5rem
  text-shadow: 0 0 10px rgba($black1, .6)

.slider-texts__action
  margin-top: 40px
  .slider-texts__btn
    text-decoration: none
    font-size: 1.6rem
    //font-weight: lighter
    padding: 20px 40px
    border: none
    background: $color1
    color: #fff
    transition: all 0.1s linear
    cursor: pointer
    border-radius: $br
    font-family: 'Comfortaa', cursive
    //font-weight: bold
    .fa
      margin-right: 15px
    &:hover
      background: lighten($color1, 4%)




.btn
  border-radius: $br
  border-width: $bw
  border-style: solid
  padding: 7px
  font-size: 1rem
  display: inline-block
  vertical-align: middle
  background: transparent
  font-family: 'Comfortaa', cursive
  cursor: pointer
  font-weight: bold
  white-space: pre
  .fa
    font-size: 1rem
    padding-right: 5px
.btn-color1
  border-color: $color1
  color: $color1
  font-weight: bold
  transition: all 0.1s linear
.btn-trans
  border: none

.btn2
  white-space: pre
  text-decoration: none
  border-radius: $br
  padding: 10px 20px
  font-size: 1rem
  display: inline-block
  vertical-align: middle
  transition: all 0.1s linear
  font-family: 'Comfortaa', cursive
  font-weight: bold
  border: none
  cursor: pointer
  .fa
    padding-right: 5px
  &[disabled]
    cursor: default
    background: $black4
    &:hover
      background: $black4
.btn2-color1
  background-color: $color1
  color: #fff
  &:hover
    background-color: lighten($color1, 10%)




.main-section
  padding: 100px 0
.main-section__header
  font-size: 2.5rem
  color: $black1
  font-weight: lighter
  margin-bottom: 45px
  text-align: center
  text-transform: uppercase
  position: relative
  z-index: 3
  font-family: 'Comfortaa', cursive
.main-section__header_white
  color: #fff
.school-items
  display: flex
  width: 100%

.school-items__item
  display: flex
  flex-direction: column
  justify-content: space-between
  width: 20%
  text-align: center
  padding: 15px
  transition: all 0.1s linear
  border-radius: $br
  text-decoration: none
  cursor: pointer
  position: relative
  &:hover
    background: rgba(#000,.05)
    .school-items__action
      background: lighten($color2, 8%)

.school-items__image
  width:  182px
  height: 182px
  background-position: center center
  background-size: 100%
  background-repeat: no-repeat
  border-radius: 50%
  margin-left: auto
  margin-right: auto
  margin-bottom: 15px
.school-items__text
  font-size: 1rem
  font-weight: bold
  color: $black1
  margin-bottom: 5px
.school-items__small
  color: $black4
  display: block
  font-size: .9rem
.school-items__action
  border: none
  transition: all 0.1s linear
  font-size: 1rem
  font-weight: bold
  background: $color2
  border-radius: $br
  padding: 10px 20px
  color: #fff
  display: inline-block
  margin-top: 10px
  cursor: pointer
  .fa
    margin-right: 8px


.main-section-bg
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  position: relative

.main-section_2:before
  content: ''
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0
  background:  linear-gradient(45deg, lighten($color2, 15%) 0%, $color2 100%)
  opacity: 0.8
.main-section-bg_text
  position: relative
  z-index: 1
.main-section-bg_text-2
  text-align: center
  color: #fff
  font-size: 1.6rem
  font-weight: lighter
  line-height: 1.5
  z-index: 1

.section-times__title
  font-size: 1.35rem
  font-weight: bold
  margin-top: 20px
  
.section-times__devide
  width: 75px
  height: 2px
  margin: 0 auto
  margin-top: 20px
  
.section-times__desc
  margin-top: 20px
  color: $black2
  font-family: "Verdana", sans-serif
  line-height: 1.5
  font-size: 1.1rem

.section-times_1
  .section-times__title
    color: $color2
  .section-times__devide
    background: $color2
  .section-times__desc b
    color: $color2
.section-times_2
  .section-times__title
    color: $color3
  .section-times__devide
    background: $color3
  .section-times__desc b
    color: $color3
.section-times_3
  .section-times__title
    color: $color1
  .section-times__devide
    background: $color1
  .section-times__desc b
    color: $color1

.main-section__pay
  background: rgba(#000, .04)
.section-pay
  max-width: 300px
  display: inline-block
  text-align: center

.main-section__pay
  .main-section__header
    span
      font-family: 'Comfortaa', cursive
      font-weight: bold
      color: $color3


.main-section__plus
  font-size: 10rem
  color: #d3d3d3

.section-pay_l
  text-align: right
.section-pay_r
  text-align: left
.section-pay__desc
  font-family: "Verdana", sans-serif
  line-height: 1.5
  color: $black2
  font-size: 1.1rem
.section-pay__title
  font-size: 6rem
  color: $color3


.section-award__title
  font-size: 1.5rem
  color: $black1
  margin-bottom: 20px
  font-weight: bold
.section-award__desc
  line-height: 1.5
  font-size: 1.1rem
  color: $black2
  font-family: "Verdana", sans-serif



.footer-wrapper
  background: #343434
  padding: 20px
.footer
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
.footer-menu
  list-style: none
  li
    display: inline-block
    &:not(:last-of-type)
      margin-right: 10px
    a
      font-family: 'Comfortaa', cursive
      color: #b0b0b0
      text-decoration: none
.footer__payments


ol.payments
  list-style: none
  li.payments-big
    font-size: 1rem
    color: $black1
    counter-increment: list1
    display: flex
    align-items: center
    justify-content: flex-start
    background: #f8f8f8
    border-radius: 5px
    padding: 20px
    &:not(:last-of-type)
      margin-bottom: 30px
  li.payments-big:before
    content: counter(list1)
    font-size: 3rem
    color: $color1
    line-height: 1
    font-weight: bold
    margin-right: 20px
.payments-warning
  margin-top: 45px
  margin-bottom: 45px
  color: $black1
  line-height: 1.5


.form
  margin-left: auto
  margin-right: auto
  margin-top: 20px
  margin-bottom: 20px
  text-align: right
  position: relative
  z-index: 1
  transition: all 0.2s linear
  &.pending > *:not(.form__pending)
    opacity: .2
  .form__pending
    content: ''
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    background: transparent
    z-index: 5
    width: 100%
    height: 100%
    .form__pending-wrapper
      display: flex
      height: 100%
      justify-content: center
      align-items: center
  .form__row
    position: relative
  .form__row:not(:last-of-type)
    margin-bottom: 25px
  .form__action
    margin-top: 20px
  label, input[type="text"], input[type="password"], input[type="email"],input[type="number"], textarea, select
    display: block
    width: 100%
  textarea
    min-height: 235px
    resize: vertical
  input[type="file"]
    display: none
  .file-label
    margin-bottom: 0
    background-color: #f0eef0
    padding: 15px
    border-radius: $br
    font-size: .9rem
    font-weight: bold
    color: $black1
    border: 2px solid #e1e1e1
    cursor: pointer
    word-break: break-all
    text-overflow: ellipsis
    white-space: pre
    max-width: 100%
    overflow: hidden
    &.active
      font-weight: lighter
      font-size: 0.8rem
      &:hover
        border: 2px solid #e1e1e1
    .fa
      margin-right: 7px
      opacity: 0.3
    &:hover
      border-color: $color1
      color: $color1
      background: #f6f4f6
    &.error
      border-color: $color3
  select
    background-color: #f0eef0
    padding: 15px
    border-radius: $br
    font-size: .9rem
    font-weight: bold
    color: $black1
    border: 2px solid #e1e1e1
    &:focus
      border-color: $color1
      color: $color1
      background: #f6f4f6
    &.error
      border-color: $color3
  label
    text-align: left
    font-size: 1rem
    font-weight: bold
    color: $black1
    margin-bottom: 5px
    > *:not(.fa)
      font-family: 'Comfortaa', cursive

  input[type="text"], input[type="password"], input[type="email"],input[type="number"], textarea
    background-color: #f0eef0
    padding: 15px
    border-radius: $br
    font-size: .9rem
    font-weight: bold
    color: $black1
    border: 2px solid #e1e1e1
    &:focus
      border-color: $color1
      color: $color1
      background: #f6f4f6
    &.error
      border-color: $color3
    
.form__error
  font-size: .7rem
  color: darken($color3, 10%)
  font-family: 'Comfortaa', cursive
  font-weight: bold
  position: absolute
  width: 100%
  text-align: center
  padding: 0
  padding-top: 3px
  margin: 0
.form-small
  max-width: 380px
.form-large
  max-width: 790px
.form-full
  max-width: 100%




.user-header

  font-family: 'Comfortaa', cursive

  small
    font-size: .8rem
    display: block
    text-transform: none
    font-weight: bold
    color: $black4
    > *
      font-family: 'Comfortaa', cursive
.user-nav-wrapper .h2
  text-align: center
  font-size: 1rem
  font-weight: bold
  margin-bottom: 15px
  color: $black2
  line-height: 1.5
  text-transform: none
  > *
    font-family: 'Comfortaa', cursive
.user-nav
  margin-top: 20px
  display: flex
  margin-bottom: 40px
  justify-content: space-between
  position: relative
  z-index: 3
  &:before
    content: ''
    width: 100%
    height: 5px
    background: #ededed
    position: absolute
    z-index: 0
    top: 36px
.user-nav__item
  width: 16.666666666%
  padding: 0 10px
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  position: relative
  z-index: 3

a.user-nav__item
  text-decoration: none
.user-nav__step
  display: flex
  justify-content: center
  align-items: center
  padding: 20px
  width: 80px
  height: 80px
  line-height: 40px
  border-radius: 50%
  border: 6px solid #ededed
  color: #fff
  font-weight: bold
  font-size: 1.4rem
  transition: all 0.1s linear

.user-nav__item_disabled .user-nav__step
  background: #b3b3b3
.user-nav__item_disabled .user-nav__title
  color: #909090

.user-nav__item_new .user-nav__step
  background: $color4
a.user-nav__item_new:hover .user-nav__step
  background: lighten($color4, 2%)

a.user-nav__item_old:hover .user-nav__step
  background: lighten($color2, 5%)
.user-nav__item_old .user-nav__step
  background: $color2

.user-nav__title
  margin-top: 8px
  font-weight: bold
  color: $black2
  text-decoration: none





.user-tasks
  list-style: none
  font-size: 1.2rem
  font-weight: bold
  color: $black1
  max-width: 400px
  margin: 40px auto
  text-align: center
  li:not(:last-of-type)
    margin-bottom: 10px

.admin-panel
  padding: 10px
  background: $black2
  text-align: center
  list-style: none
  .fa
    margin-right: 7px
  a
    color: #fff
    text-decoration: none


.order-warning
  text-align: center
  margin-bottom: 30px
  padding: 20px
  border-radius: 5px
  font-size: .9rem
  color: $black4
  font-weight: bold
  > span
    font-family: 'Comfortaa', cursive
    font-weight: bold
    color: $color2

.order-warning2
  text-align: center
  margin-bottom: 30px
  padding: 40px 20px
  border-radius: 5px
  color: $color1
  text-shadow: 0 0 8px rgba(#fff,1)
  background-image: url(../images/money.jpg)
  background-size: cover
  background-position: center center
  position: relative
  z-index: 2
  font-weight: bold
  font-size: 1.5rem
  text-transform: uppercase
  display: block
  text-decoration: none
  font-family: 'Comfortaa', cursive
  transition: all 0.1s linear
  &:hover
    &:before
      background: rgba(#fff, 0.2)
  &:before
    transition: all 0.1s linear
    z-index: -1
    position: absolute
    content: ''
    left: 0
    top: 0
    right: 0
    bottom: 0
    background: rgba(#fff, 0.55)



//////////////////////////
.tooltip-element
  box-sizing: border-box
  &:after, &:before
    box-sizing: border-box
  *
    box-sizing: border-box
    &:after, &:before
      box-sizing: border-box
  position: absolute
  display: none
  z-index: 5
  &.tooltip-open
    display: block
  &.tooltip-theme-arrows
    max-width: 100%
    max-height: 100%
    .tooltip-content
      border-radius: 5px
      position: relative
      background: rgba(#000, 0.9)
      color: #eee
      padding: 20px
      font-size: .9rem
      span
        color: lighten($color2, 15%)
        font-family: 'Comfortaa', cursive

      line-height: 1.35
      z-index: 5
      //font-family: "Verdana", sans-serif
      > *
        //font-family: "Verdana", sans-serif

      &:before
        content: ""
        display: block
        position: absolute
        width: 0
        height: 0
        z-index: 5
        border-color: transparent
        border-width: 8px
        border-style: solid
    &.tooltip-element-attached-bottom.tooltip-element-attached-center .tooltip-content
      margin-bottom: 8px
      &:before
        top: 100%
        left: 50%
        margin-left: -8px
        border-top-color: rgba(#000, 0.9)
    &.tooltip-element-attached-top.tooltip-element-attached-center .tooltip-content
      margin-top: 8px
      &:before
        bottom: 100%
        left: 50%
        margin-left: -8px
        border-bottom-color: rgba(#000, 0.9)
    &.tooltip-element-attached-right.tooltip-element-attached-middle .tooltip-content
      margin-right: 8px
      &:before
        left: 100%
        top: 50%
        margin-top: -8px
        border-left-color: rgba(#000, 0.9)
    &.tooltip-element-attached-left.tooltip-element-attached-middle .tooltip-content
      margin-left: 8px
      &:before
        right: 100%
        top: 50%
        margin-top: -8px
        border-right-color: rgba(#000, 0.9)
    &.tooltip-element-attached-top
      &.tooltip-element-attached-left.tooltip-target-attached-bottom .tooltip-content
        margin-top: 8px
        &:before
          bottom: 100%
          left: 8px
          border-bottom-color: rgba(#000, 0.9)
      &.tooltip-element-attached-right.tooltip-target-attached-bottom .tooltip-content
        margin-top: 8px
        &:before
          bottom: 100%
          right: 8px
          border-bottom-color: rgba(#000, 0.9)
    &.tooltip-element-attached-bottom
      &.tooltip-element-attached-left.tooltip-target-attached-top .tooltip-content
        margin-bottom: 8px
        &:before
          top: 100%
          left: 8px
          border-top-color: rgba(#000, 0.9)
      &.tooltip-element-attached-right.tooltip-target-attached-top .tooltip-content
        margin-bottom: 8px
        &:before
          top: 100%
          right: 8px
          border-top-color: rgba(#000, 0.9)
    &.tooltip-element-attached-top
      &.tooltip-element-attached-right.tooltip-target-attached-left .tooltip-content
        margin-right: 8px
        &:before
          top: 8px
          left: 100%
          border-left-color: rgba(#000, 0.9)
      &.tooltip-element-attached-left.tooltip-target-attached-right .tooltip-content
        margin-left: 8px
        &:before
          top: 8px
          right: 100%
          border-right-color: rgba(#000, 0.9)
    &.tooltip-element-attached-bottom
      &.tooltip-element-attached-right.tooltip-target-attached-left .tooltip-content
        margin-right: 8px
        &:before
          bottom: 8px
          left: 100%
          border-left-color: rgba(#000, 0.9)
      &.tooltip-element-attached-left.tooltip-target-attached-right .tooltip-content
        margin-left: 8px
        &:before
          bottom: 8px
          right: 100%
          border-right-color: rgba(#000, 0.9)
    pointer-events: none
    .tooltip-content
      padding: 0.5em 1em









